.popup__container {
  position: relative;
  width: 430px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  z-index: 3;
}


.popup__container:hover {
  cursor: auto;
}

@media screen and (max-width: 700px) {
  .popup__container {
    width: 282px;
  }
}