.authentication__submit-button {
  width: 358px;
  height: 50px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  transition: opacity 0.2s;
  cursor: pointer;
  margin-top: 186px;
}

@media (max-width: 700px) {
  .authentication__submit-button {
    height: 46px;
    font-size: 16px;
    line-height: 19px;
  }
}

.authentication__submit-button:hover {
  opacity: 0.85;
}
